megafoxrun-android/.settings/
megafoxrun-android/bin/
megafoxrun-android/gen/

megafoxrun/.settings/
megafoxrun/bin/

megafoxrun-desktop/.settings/

megafox_server/.settings
megafox_server/bin

/.metadata
*.project