megafoxrun-android/.settings/
megafoxrun-android/bin/
megafoxrun-android/gen/

megafoxrun/.settings/
megafoxrun/bin/

megafoxrun-desktop/.settings/
megafoxrun-desktop/*.log

megafoxhunt-server/.settings
megafoxhunt-server/bin

ServerClientShared/.settings
ServerClientShared/bin
